<h2 id="contact" class="sectionHead">Contact Me</h2>

<!--CONTACT FORM-->
<div id="contactform" class="contact">
  <div id="map"></div>
  <!-- Contact Info -->
  <div class="contact-info">
    <h3 class="main-heading"><span>Name - Karthik Girraju<br/><br/></span></h3>
    <ul style="list-style: none; margin-left: 0">
      <li>Phone: 9535965359</li>
      <li>DOB: July 16, 1993</li>
      <li>Email: <a style="color: #5cd25c" href="mailto:karthik.girraj@gmail.com?Subject=Hello%20again" target="_top">karthik.girraj@gmail.com</a></li>
      <li>J.P.Nagar 6th phase, Bengaluru</li>
      <li>Website:  <a style="color: #5cd25c" href="http://www.karthikraj.co.nf" target="_blank">www.karthikraj.co.nf</a></li>
      <li>Languages Known : English, Hindi, Kannada and Telugu</li>
    </ul>
  </div>
</div>

<div class="clear"></div>
