<h2 id="learn" class="sectionHead">Education</h2>

<!--EDUCATION-->
<ul id="schools">
  <li>
    <div class="details">
      <h3>Vellore Institute of Technology</h3>
      <h4>M.S.S.E</h4>
      <h5>2010 - 2015</h5>
    </div>
    <p>CGPA – 7.51 </p>
  </li>
  <li>
    <div class="details">
      <h3>Sri Chaitanya Institution, Tirupati, AP</h3>
      <h4>Higher Secondary - PCM</h4>
      <h5>2009 - 2010</h5>
    </div>
    <p>PERCENTAGE		: 90.1%</p>
  </li>
  <li>
    <div class="details">
      <h3>PriyaDarshini VidyaMandir, AP</h3>
      <h4>Primary - PCM</h4>
      <h5>2008(Passout)</h5>
    </div>
    <p>PERCENTAGE		: 80%</p>
  </li>
</ul><!--end schooling-->

<div class="clear"></div>
