<h2 id="clock" class="sectionHead">Experience</h2>

<!--EXPERIENCE-->
<ul id="jobs">
  <li>
    <div class="details">
      <h3>Technical Lead Developer</h3>
      <h3>Forever Networks Pvt Ltd</h3>
      <h4>Location - Bengaluru</h4>
      <h5>April 2016 - Ongoing</h5>
    </div>
    <p>Developed SASS based Educational Products*</p>
  </li>
  <li>
    <div class="details">
      <h3>Web Developer</h3>
      <h3>Kanoe Softwares(P) Ltd</h3>
      <h4>Location - Bengaluru</h4>
      <h5>Jan 2015 - Mar 2015</h5>
    </div>
    <p>Developed a responsive website for the company using Bootstrap, PHP, HTML, CSS, JQuery, MySQL.</p>
  </li>

</ul><!--end jobs-->

<div class="clear"></div>
