<style type="text/css">
  a.button {
    text-decoration: none;
    color: initial;
  }
</style>

<h2 id="eye" class="sectionHead">Links</h2>

<ul id="seenOn">
  <a href="http://anuragbackend.co.nf" target="_blank" class="button">AngularJs as FrontEnd & slimphp as Backend<br/><br/></a>
  <a href="http://techtest.co.nf" target="_blank" class="button">Plain Bootstrap, Jquery with Freshdesk Integration for contact Form<br/><br/></a>
  <a href="http://radhika.maayavr.xyz" target="_blank" class="button">Wordpress<br/><br/></a>
  <a href="http://mmvweddings.com" target="_blank" class="button">Plain bootstrap, Jquery<br/><br/></a>
  <a href="http://maayavr.xyz" target="_blank" class="button">Bootstrap<br/><br/></a>
</ul><!--end seenOn-->

<div class="clear"></div>
