<h2 id="chat" class="sectionHead">Academic Projects</h2>

<!--RECOMMENDATIONS-->
<ul id="recommends">

  <li>
    <div class="details">
      <h3>Online Help Desk</h3>
      <h4>PHP, MySQL, Bootstrap Framework, JavaScript, CSS</h4>
    </div>
    <p>Created a Q&A portal for college to post hostel, maintenance and canteen related problems.<br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Student Academic History</h3>
      <h4>PHP, MySQL, Bootstrap Framework, JavaScript, CSS</h4>
    </div>
    <p>Created a website for students to check marks throughout their academic history.<br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Online Quiz</h3>
      <h4>JDBC: ODBC Connection</h4>
    </div>
    <p>Implemented an Online Quiz system with time-lapse and display of result on completion.</p>
  </li>

  <li>
    <div class="details">
      <h3>Multimedia Database Management System</h3>
      <h4>PHP, PhpMyAdmin, CSS, Blobs</h4>
    </div>
    <p>Implemented a website to store multimedia files and can be played using flash player.<br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Understanding of RSA Algorithm</h3>
      <h4>Java, Cryptography</h4>
    </div>
    <p>Implemented an RSA encryption algorithm.<br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Face Recognition System</h3>
      <h4>Bio-Metric Implementation in MATLAB</h4>
    </div>
    <p>Recognizing accuracy of a sample image taken with a template. <br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Text-To-Speech</h3>
      <h4>Java, Android Application</h4>
    </div>
    <p>Developing an app to convert text into speech. <br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Cloud Computing</h3>
      <h4>Openshift, GIT Repository</h4>
    </div>
    <p>Implementing websites in cloud and controlling with GIT repo. <br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Android ROM Development</h3>
      <h4>Cygwin packages-XDA Dev Tools, LINUX</h4>
    </div>
    <p>Developing android custom operating system with improvements and lot of customizations. </p>
  </li>

</ul><!--end recommends-->

<div class="clear"></div>
