<h2 id="chat" class="sectionHead">Projects Undertaken</h2>

<!--RECOMMENDATIONS-->
<ul id="recommends">

  <li>
    <div class="details">
      <h3>Subscription Module</h3>
      <h4>AngularJs, Bootstrap, JavaScript, LESS, Gulp, Bower</h4>
    </div>
    <p>This module handles all the administrative tasks of the institute.<br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>School Management System</h3>
      <h4>AngularJs, Bootstrap, JavaScript, LESS, Gulp, Bower</h4>
    </div>
    <p>This module contains student, parent and teacher’s sub-modules and has its own features.<br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Subscription Public Website</h3>
      <h4>Bootstrap, JavaScript, Ajax, CSS</h4>
    </div>
    <p>This is a public website for subscription module with pricing, testimonials, product details etc.</p>
  </li>

  <li>
    <div class="details">
      <h3>School Public Website</h3>
      <h4>WordPress CMS. Respond CMS</h4>
    </div>
    <p>Has experience in working with WordPress as a school public website.<br/><br/></p>
  </li>

  <li>
    <div class="details">
      <h3>Educatehub Module</h3>
      <h4>AngularJs, Bootstrap, JavaScript, LESS, Gulp, Bower</h4>
    </div>
    <p>This module handles student assessment tasks - competitive tests, score statistics, question papers.<br/><br/>
    </p>
  </li>

  <li>
    <div class="details">
      <h3>Techwitzs Company Website</h3>
      <h4>Bootstrap, JavaScript, Ajax, SCSS, Gulp, Bower</h4>
    </div>
    <p>Created a responsive website for the company with Help Desk integration.<br/><br/></p>
  </li>

</ul><!--end recommends-->

<div class="clear"></div>
