<h2 id="titleName" class="sectionHead">Relevent Experience</h2>

<div id="bio">

  <ul>
    <li><strong>PHP Framework</strong> : Slim PHP, Laravel Framework</li>
    <li><strong>API Integration</strong> : REST API, JSON, XML</li>
    <li><strong>Git</strong> : Github, Bitbucket, GitFlow</li>
    <li><strong>Hybrid Mobile Apps:</strong> : Ionic Framework, Cordova Phonegap</li>
    <li><strong>JIRA Atlassian</strong> : Software Development Tool used for issue and project tracking for teams.</li>
    <li><strong>JIRA Confluence</strong> : Use-Cases and documentation for the products.</li>
    <li><strong>Gulp</strong> : Build System Automate - minify, concatenate, building, watching.</li>
    <li><strong>Bower</strong> : Package Management – install, update and remove web libraries.</li>
    <li><strong>Testing</strong> : Gherkin Language, BDD – Behavior Driven Development Cases, Selenium web driver.</li>
    <li><strong>NodeJs</strong> : Node package manager(npm) – ExpressJs</li>
    <li><strong>3rd party Modules</strong> : angular Bootstrap, angular-ui-router, angular-ui-grid, Rest angular,
      angular cookies,
      angular animate, Font-awesome, JQuery.
    </li>
  </ul>

</div>
<div class="clear"></div>
